.Cell {
  position: relative;
  height: 100px;
  width: 100px;
  background-color: #143F6B;
  transition: background-color 0.3s ease;
  border-radius: 4px;
  z-index: 0;
}

.Cell:hover {
  background-color: #194f84;
}

.Cell-lit {
  background-color: #00FFAB;
  box-shadow: 0 0 20px #00FFAB;
  z-index: 1;
}

.Cell-lit:hover {
  background-color: #01d4b4;
}